# Assignment

In this assignment, you'll be working with the [U.S. Education Dataset](https://www.kaggle.com/noriuk/us-education-datasets-unification-project) from Kaggle. The data gives detailed state level information on several facets of the state of education on an annual basis. To learn more about the data and the column descriptions, click the Kaggle link above.

In [3]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings('ignore')

In [17]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.precision', 3) #data output display settings

Access this data from the Thinkful database using the following credentials:

In [3]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'useducation'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

useducation_df = pd.read_sql_query('select * from useducation',con=engine)

# no need for an open connection, 
# as we're only doing a single query
engine.dispose()

In [4]:
useducation_df.to_csv('useducation.csv',index=False)

In [4]:
useducation_df = pd.read_csv('useducation.csv')

In [6]:
useducation_df.head(5)

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,471564.0,196386.0,676174.0,208.327876,252.187522,207.963517,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,79117.0,30847.0,112335.0,NaN,NaN,NaN,258.859712
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,437127.0,175210.0,614881.0,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,281338.0,123113.0,405259.0,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,3286034.0,1372011.0,4717112.0,208.398961,260.892247,196.764414,NaN

### 1. Determine all the variable types and find the fraction of the missing values for each variable.

In [5]:
useducation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 25 columns):
PRIMARY_KEY                     1492 non-null object
STATE                           1492 non-null object
YEAR                            1492 non-null int64
ENROLL                          1229 non-null float64
TOTAL_REVENUE                   1280 non-null float64
FEDERAL_REVENUE                 1280 non-null float64
STATE_REVENUE                   1280 non-null float64
LOCAL_REVENUE                   1280 non-null float64
TOTAL_EXPENDITURE               1280 non-null float64
INSTRUCTION_EXPENDITURE         1280 non-null float64
SUPPORT_SERVICES_EXPENDITURE    1280 non-null float64
OTHER_EXPENDITURE               1229 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      1280 non-null float64
GRADES_PK_G                     1319 non-null float64
GRADES_KG_G                     1360 non-null float64
GRADES_4_G                      1361 non-null float64
GRADES_8_G                      1361 non-null float64
GRADES_12_G                     1361 non-null float64
GRADES_1_8_G                    1361 non-null float64
GRADES_9_12_G                   1361 non-null float64
GRADES_ALL_G                    1319 non-null float64
AVG_MATH_4_SCORE                536 non-null float64
AVG_MATH_8_SCORE                532 non-null float64
AVG_READING_4_SCORE             533 non-null float64
AVG_READING_8_SCORE             498 non-null float64
dtypes: float64(22), int64(1), object(2)
memory usage: 291.5+ KB

In [16]:
(useducation_df.isnull().sum()/useducation_df.shape[0])*100

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          17.627346
TOTAL_REVENUE                   14.209115
FEDERAL_REVENUE                 14.209115
STATE_REVENUE                   14.209115
LOCAL_REVENUE                   14.209115
TOTAL_EXPENDITURE               14.209115
INSTRUCTION_EXPENDITURE         14.209115
SUPPORT_SERVICES_EXPENDITURE    14.209115
OTHER_EXPENDITURE               17.627346
CAPITAL_OUTLAY_EXPENDITURE      14.209115
GRADES_PK_G                     11.595174
GRADES_KG_G                      8.847185
GRADES_4_G                       8.780161
GRADES_8_G                       8.780161
GRADES_12_G                      8.780161
GRADES_1_8_G                     8.780161
GRADES_9_12_G                    8.780161
GRADES_ALL_G                    11.595174
AVG_MATH_4_SCORE                64.075067
AVG_MATH_8_SCORE                64.343164
AVG_READING_4_SCORE             64.276139
AVG_READING_8_SCORE             66.621984
dtype: float64

### 2. Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year. Choose a strategy to deal with the missing values for each variables. For which variables would filling in the missing values with some value make sense? For which might tossing out the records entirely make sense?

In [31]:
useducation_df.describe()

,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE,GRADES_PK_G,GRADES_KG_G,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
count,1492.000,1.229e+03,1.280e+03,1.280e+03,1.280e+03,1.280e+03,1.280e+03,1.280e+03,1.280e+03,1.229e+03,1.280e+03,1319.000,1360.000,1361.000,1361.000,1361.000,1.361e+03,1.361e+03,1.319e+03,536.000,532.000,533.000,498.000
mean,2004.434,9.159e+05,9.092e+06,7.664e+05,4.217e+06,4.109e+06,9.197e+06,4.763e+06,2.680e+06,4.292e+05,9.028e+05,17601.614,63746.761,64538.927,64271.057,54268.924,5.192e+05,2.471e+05,8.024e+05,234.768,278.415,218.866,263.661
std,7.394,1.065e+06,1.175e+07,1.145e+06,5.543e+06,5.483e+06,1.198e+07,6.293e+06,3.353e+06,5.341e+05,1.328e+06,30016.166,80205.138,80293.388,78910.546,67889.276,6.436e+05,3.077e+05,9.707e+05,10.222,10.160,7.770,6.804
min,1992.000,4.387e+04,4.656e+05,3.102e+04,0.000e+00,2.209e+04,4.817e+05,2.655e+05,1.400e+05,1.154e+04,1.271e+04,0.000,544.000,633.000,437.000,311.000,4.878e+03,1.808e+03,7.254e+03,187.135,232.832,178.558,236.379
25%,1998.000,2.583e+05,2.186e+06,1.894e+05,1.153e+06,7.158e+05,2.165e+06,1.168e+06,6.358e+05,1.028e+05,1.816e+05,2021.000,11745.000,13739.000,13342.000,10919.000,1.106e+05,5.147e+04,1.811e+05,229.694,272.762,214.663,259.533
50%,2004.000,6.483e+05,5.080e+06,4.034e+05,2.537e+06,2.056e+06,5.235e+06,2.657e+06,1.525e+06,2.716e+05,5.103e+05,8106.000,41597.500,43272.000,43339.000,36735.000,3.458e+05,1.643e+05,5.503e+05,237.239,280.619,220.416,265.011
75%,2011.000,1.015e+06,1.086e+07,8.290e+05,5.081e+06,4.769e+06,1.075e+07,5.568e+06,3.230e+06,5.186e+05,9.669e+05,22295.000,73865.250,75481.000,76566.000,67460.000,6.119e+05,2.905e+05,9.283e+05,241.995,285.347,223.999,268.190
max,2017.000,6.307e+06,8.922e+07,9.990e+06,5.090e+07,3.611e+07,8.532e+07,4.396e+07,2.606e+07,3.996e+06,1.022e+07,250911.000,530531.000,493415.000,500143.000,498403.000,3.930e+06,2.014e+06,5.945e+06,253.421,300.568,236.774,280.499

The current version of this data is concerned with state-level pattern

- ENROLL: fill with values from All_GRADES_G; drop the remaining 112 nulls
- TOTAL_REVENUE                   14.209115
- FEDERAL_REVENUE                 14.209115
- STATE_REVENUE                   14.209115
- LOCAL_REVENUE                   14.209115
- TOTAL_EXPENDITURE               14.209115
- INSTRUCTION_EXPENDITURE         14.209115
- SUPPORT_SERVICES_EXPENDITURE    14.209115
- OTHER_EXPENDITURE               17.627346
- CAPITAL_OUTLAY_EXPENDITURE      14.209115
- Drop: GRADES_PK_G, GRADES_KG_G, GRADES_4_G, GRADES_8_G, GRADES_12_G, GRADES_1_8_G, GRADES_9_12_G
- GRADES_ALL_G: fill with values from ENROLL; drop the remaining 112 nulls
- AVG_MATH_4_SCORE                64.075067
- AVG_MATH_8_SCORE                64.343164
- AVG_READING_4_SCORE             64.276139
- AVG_READING_8_SCORE             66.621984

'REVENUE' columns using interpolation, 'EXPENDITURE', and 'AVG'
Drop missing values for 'GRADES' since there are few null entries.

In [6]:
# check null entries for Guam

useducation_df[(useducation_df['TOTAL_REVENUE'].isnull()) & (useducation_df['STATE']=='GUAM')].sort_values(['YEAR']).head(50)

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
1422,1992_GUAM,GUAM,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2392.0,2061.0,1115.0,19072.0,7631.0,27360.0,NaN,NaN,NaN,NaN
1401,1993_GUAM,GUAM,1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2517.0,2085.0,1154.0,19799.0,7752.0,28037.0,NaN,NaN,NaN,NaN
1365,1994_GUAM,GUAM,1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2587.0,2275.0,1262.0,20791.0,7989.0,29245.0,NaN,NaN,NaN,NaN
1337,1995_GUAM,GUAM,1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2722.0,2368.0,1433.0,20954.0,8083.0,29999.0,NaN,NaN,NaN,NaN
1428,1996_GUAM,GUAM,1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2762.0,2370.0,1258.0,21734.0,8176.0,30363.0,NaN,NaN,NaN,NaN
1332,1997_GUAM,GUAM,1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2697.0,2173.0,1309.0,20748.0,8468.0,29679.0,NaN,NaN,NaN,NaN
1409,1999_GUAM,GUAM,1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2813.0,2442.0,1392.0,20811.0,8800.0,30195.0,NaN,NaN,NaN,NaN
1436,2000_GUAM,GUAM,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2613.0,2318.0,1414.0,20532.0,8775.0,29877.0,NaN,NaN,NaN,NaN
1289,2001_GUAM,GUAM,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2621.0,2311.0,1539.0,20323.0,8859.0,29656.0,NaN,NaN,NaN,NaN
1380,2002_GUAM,GUAM,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1353,2003_GUAM,GUAM,2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2193.0,2480.0,1397.0,19778.0,9021.0,29229.0,NaN,NaN,NaN,NaN
1396,2004_GUAM,GUAM,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2509.0,2372.0,1657.0,19053.0,8919.0,28402.0,NaN,NaN,NaN,NaN
1326,2005_GUAM,GUAM,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2480.0,2343.0,1459.0,19189.0,9040.0,28675.0,NaN,NaN,NaN,NaN
1388,2006_GUAM,GUAM,2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1417,2007_GUAM,GUAM,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1318,2008_GUAM,GUAM,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1443,2009_GUAM,GUAM,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1313,2010_GUAM,GUAM,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2412.0,2771.0,1844.0,19391.0,10057.0,29516.0,NaN,NaN,NaN,NaN
1372,2011_GUAM,GUAM,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2334.0,2472.0,1561.0,18994.0,10020.0,29027.0,NaN,NaN,NaN,NaN
1296,2012_GUAM,GUAM,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2325.0,2472.0,1561.0,18946.0,10020.0,28979.0,NaN,NaN,NaN,NaN
1360,2013_GUAM,GUAM,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2337.0,2364.0,1766.0,19360.0,10113.0,30301.0,NaN,NaN,NaN,NaN
1302,2014_GUAM,GUAM,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2282.0,2312.0,1574.0,18506.0,10032.0,29062.0,NaN,NaN,NaN,NaN
1308,2015_GUAM,GUAM,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2261.0,2238.0,1669.0,18196.0,10056.0,28766.0,NaN,NaN,NaN,NaN

In [7]:
# compare ENROLL and GRADES_ALL_G

useducation_df[useducation_df['ENROLL'].notnull()][['ENROLL','GRADES_ALL_G']].head(10)

       ENROLL  GRADES_ALL_G
36    89711.0           NaN
52   727716.0      677690.0
53   121156.0      115619.0
54   676297.0      647299.0
55   311432.0      407329.0
56  5129788.0     4782111.0
57   539538.0      575380.0
58   471918.0      443893.0
59   104355.0       97394.0
60    80937.0       69987.0

In [28]:
# check null entry relations between GRADES_ columns
useducation_df[(useducation_df['GRADES_4_G'].notnull()) & (useducation_df['AVG_MATH_4_SCORE'].isnull())].head(10)

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE,GRADES_PK_G,GRADES_KG_G,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
1,1992_ALASKA,ALASKA,1992,NaN,1.050e+06,106780.0,7.207e+05,2.221e+05,9.725e+05,4.984e+05,3.509e+05,NaN,37451.0,2371.0,10152.0,9748.0,8789.0,6714.0,7.912e+04,30847.0,1.123e+05,NaN,NaN,NaN,258.86
13,1992_ILLINOIS,ILLINOIS,1992,NaN,9.749e+06,597077.0,3.073e+06,6.078e+06,9.851e+06,5.010e+06,3.149e+06,NaN,727858.0,39682.0,139237.0,133120.0,134317.0,106475.0,1.111e+06,495562.0,1.646e+06,NaN,NaN,NaN,NaN
16,1992_KANSAS,KANSAS,1992,NaN,2.245e+06,121625.0,9.032e+05,1.221e+06,2.235e+06,1.166e+06,7.086e+05,NaN,157705.0,2391.0,34826.0,36013.0,33288.0,26706.0,2.841e+05,120960.0,4.075e+05,NaN,NaN,NaN,NaN
26,1992_MONTANA,MONTANA,1992,NaN,8.290e+05,69947.0,3.375e+05,4.216e+05,7.810e+05,4.122e+05,2.416e+05,NaN,64263.0,554.0,11894.0,12839.0,12124.0,10019.0,1.021e+05,44449.0,1.471e+05,NaN,NaN,222.301,NaN
28,1992_NEVADA,NEVADA,1992,NaN,1.097e+06,45018.0,7.240e+05,3.280e+05,1.252e+06,5.726e+05,3.347e+05,NaN,249189.0,1038.0,17839.0,18487.0,16250.0,12242.0,1.457e+05,57605.0,2.043e+05,NaN,NaN,NaN,NaN
36,2001_WYOMING,WYOMING,2001,89711.0,8.043e+05,69172.0,4.030e+05,3.321e+05,7.879e+05,4.261e+05,2.549e+05,24913.0,67913.0,NaN,6002.0,6587.0,7211.0,6855.0,5.309e+04,29035.0,NaN,NaN,NaN,NaN,NaN
38,1992_OREGON,OREGON,1992,NaN,2.774e+06,163544.0,7.883e+05,1.822e+06,2.898e+06,1.557e+06,9.671e+05,NaN,230464.0,771.0,37519.0,41443.0,39610.0,31920.0,3.251e+05,144002.0,4.699e+05,NaN,NaN,NaN,NaN
42,1992_SOUTH_DAKOTA,SOUTH_DAKOTA,1992,NaN,5.517e+05,60671.0,1.478e+05,3.432e+05,5.931e+05,3.206e+05,1.697e+05,NaN,65568.0,705.0,10266.0,10645.0,10498.0,8259.0,8.582e+04,36326.0,1.229e+05,NaN,NaN,NaN,NaN
46,1992_VERMONT,VERMONT,1992,NaN,8.124e+05,31757.0,2.042e+05,5.765e+05,8.004e+05,3.867e+05,2.058e+05,NaN,25781.0,1780.0,7978.0,8329.0,7227.0,5573.0,6.411e+04,24099.0,8.999e+04,NaN,NaN,NaN,NaN
48,1992_WASHINGTON,WASHINGTON,1992,NaN,4.871e+06,263053.0,3.468e+06,1.140e+06,5.361e+06,2.587e+06,1.519e+06,NaN,855759.0,5075.0,68562.0,74098.0,67285.0,53986.0,5.781e+05,244732.0,8.279e+05,NaN,NaN,212.695,NaN

### 3. Now, take into account the time factor. Replicate your second answer but this time fill in the missing values by using a statistic that is calculated within the year of the observation. For example, if you want to fill a missing value for a variable with the mean of that variable, calculate the mean by using only the observations for that specific year.

### 4. This time, fill in the missing values using interpolation (extrapolation).

### 5. Compare your results for the 2nd, 3rd, and 4th questions. Do you find any meaningful differences?